body {
  background-color: #f27405;
}
/* #casper_section text {
  width: 100%;
  height: auto;
  display: block;
} */

h1 {
  width: 100%;
  height: auto;
  display: block;
  font-family: "Rowdies", cursive;
  font-size: clamp(0.5rem, 12.5vw, 14rem);
  font-weight: bold;
  text-align: center;
  color: white;
}

header {
  width: 100%;
  height: auto;
  display: block;
  font-family: "Rowdies", cursive;
  font-size: clamp(0.5 rem, 2.5vw, 2rem);
  text-align: center;
}
.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20%;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Rowdies";
  font-size: 1rem;
  font-weight: lighter;
}
ul {
  list-style: none;
}

/* .logo a {
      font-size: 5rem;
      font-weight: 700;
      color: white;
    } */
footer {
  text-align: center;
  color: #f27405;
  font-family: "Freehand", cursive;
  font-size: small;
}
/* KOPIERET FRA DANNI HER  */
/* header */
.banner {
  background: #5000ca22;
  padding: 2rem;
}

.banner ul {
  list-style: none;
  padding: 0;
}

/* burgermenu */
.toggle-btn {
  display: flex;
  justify-content: center;
  color: white;
}

/* @media (max-width: 600px) { */
.toggle-btn {
  background: transparent;
  border: none;
  display: block;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
}

nav {
  display: none;
}

nav.shown {
  border-top: 1px solid white;
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

nav ul {
  display: flex;
  flex-flow: column;
}

/* KOPIERET FRA DANNI SLUT    */

/* #second_section img {
        background-image: white;
      } */
/* @media (max-width: 700px) {
        h1 {
          font-size: 8rem;
        }
      } */
